@use '../../styles/colors.module.scss'as *;

.about-container {
  padding-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 1030px) {
    display: block;

    img {
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }
}