@use '../../../styles/colors.module.scss'as *;

.container-details {
    display: flex;
    padding: 2rem;

    .container-img {
        .card-img {
            width: 90%;
            height: 90%;
            padding-right: 2rem;
        }
    }

    .container-data {
        .title {
            font-size: larger;
            font-weight: 700;
        }

        .category {
            padding: 1rem;
            font-weight: 700;
            color: $color__white;
            background-color: $color__green--opacity;

        }

        .description {}

        .price {
            font-size: x-large;
        }

        .rating {
            font-size: x-large;

            .star {
                color: #ccc;
            }

            .filled {
                color: yellow;
            }
        }

        .rating-count {}
    }
}